/* Created by Harry Staley for the multi user blog project of the Udacity full stack Web Devlopment Nanodegree */

body,
header {
	padding-top: 70px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #294860;
	color: white;
	font-family: "Ubuntu", sans-serif;
}

main,
legend {
	padding: 5px;
	color: black;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer {
	margin-top: 10px;
}

fieldset {
	width: 700px;
	padding: 5px;
}

textarea {
	min-width: 48px;
	min-height: 48px;
	color: black;
}

label {
	text-align: right;
	width: 100px;
	padding: 5px;
	float: left;
	font-weight: bold;
}

.comment {
	padding-left: 30px;
}

.btn-primary {
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
}

.error {
	padding: 5px;
}

.form-controls {
	display: inline;
}

.modal-header {
	color: #294860;
	background-color: #f8981c;
}

.modal-body {
	color: #000;
}

.logo {
	width: 20%;
}

.postContent {
	min-width: 500px;
	min-height: 200px;
	color: black;
}

.postSubject {
	min-width: 500px;
	min-height: 48px;
	color: black;
}

.social-media {
	padding: 10px;
	background-color: #f8981c;
	display: block;
	min-height: 48px;
	min-width: 48px;
}

.portfolioImg {
	height: 300px;
	width: 300px;
}

.picture {
	display: block;
	margin: 0 auto 10px;
	max-width: 100%;
	min-width: 48px;
	min-height: 48px;
	border: 2px solid white;
	-webkit-border-radius: 2.5%;
	-moz-border-radius: 2.5%;
	border-radius: 2.5%;
}