<!-- JINJA2 TEMPLATE EXTENSION -->
{% extends "base.html" %}

<!-- THIS IS NOT A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is a part of the problem set in the databases portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}

<form action="" method="post" id="BlogPostForm">
	<fieldset class="postForm">
		<legend>Add New Ascii Art</legend>
		<span class="error">{{error}}</span>
		<p><label for="title">Title</label>
			<input class="postSubject" type="text" name="title" value="{{title}}">
		<p><label for="art">Art</label>
			<textarea class="postContent" name="art">{{art}}</textarea>
	</fieldset>
	<fieldset class="accountAction">
		<input type="submit" class="btn btn-default" name="submit" value="Submit Art">
	</fieldset>
</form>

<hr>

{% for art in arts %}
<div class="art">
	<div class="art-title">{{art.title}} <br> {{art.created}}</div>
	<pre class="art-body">{{art.art}}</pre>
</div>
{% endfor %}

{% endblock %}