<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Created by Harry Staley for Project 1 of the Udacity Front End Web Devlopment Nanodegree-->
  <!-- Images were used freely from http://www.freeimages.com or from their respective style guides at Udacity.com and Linkedin.com -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap framework stylesheets from CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <!-- custom stylesheet -->
  <link rel="stylesheet" href="css/style.css">

  <!-- stylesheet for a google font. -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700">
  <title>Multi User Blog of Harry Staley</title>
</head>

<body>

<!-- JINJA2 INHERITANCE FOR CHILD TEMPLATES -->
{% block content %}
{% endblock %}

<!-- JAVASCRIPT CALLS -->

  <!-- load JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>