<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Created by Harry Staley for the multi-user blog project in the full stack web developer nanodegree -->
  <!-- Images were used freely from http://www.freeimages.com or from their respective style guides at Udacity.com and Linkedin.com -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap framework stylesheets from CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <!-- custom stylesheet -->
  <link rel="stylesheet" href="css/style.css">

  <!-- stylesheet for a google font. -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700">
  <title>Multi User Blog of Harry Staley</title>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">{{ login_status | safe }}</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="Navbar">

        <ul class="nav navbar-nav">

          {% for link, title in nav %}
            <li><a href={{ link }}>{{ title }}</a></li>
          {% endfor %}

        </ul>

      </div>
    </div>
  </nav>

  <div id="main" class="container">
    <header>
      <div class="row">
        <div class="col-md-12 text-left text-uppercase">
          <h1>Harry Staley</h1>
          <h3>Full Stack Web Developer and Data Analyst</h3>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-md-12">
          <!-- JINJA2 INHERITANCE FOR CHILD CONTENT TEMPLATES -->
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </main>

    <footer class="social-media">
      <div class="row">
        <div class="col-md-12">
          <a href="https://www.linkedin.com/in/harrystaley"><img class="img-responsive" src="images/In-2C-48px-R.png" alt="Go to my LinkedIn profile."></a>
        </div>
      </div>
    </footer>
  </div>

<!-- JAVASCRIPT CALLS -->

  <!-- load JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
