<!-- JINJA2 CHILD TEMPLATE - EDITPOST -->
{% extends "base.html" %}

<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is a part of the problem set in the databases portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}
<fieldset class="postForm">
	<legend>Edit Comment</legend>
	<form action="" method="post" id="BlogPostForm" class="form-controls">
			<span class="error">{{error}}</span>
			<input type="hidden" name="post_id" value="{{post_id}}">
			<input type="hidden" name="comment_id" value="{{comment_id}}">
			<p><label for="subject">Title</label>
				<input class="postSubject" type="text" name="subject" value="{{subject}}">
			<p><label for="content">Content</label>
				<textarea class="postContent" name="content">{{content}}</textarea>
			<div class="form-controls">
				<input type="submit" class="btn btn-primary" name="submit" value="Submit">
			</div>
	</form>
	<form class="form-controls">
		<input Type="button" class="btn btn-primary" name="cancel" value="Cancel" onClick="history.go(-1);return true;">
	</form>
	<form action="/deletecomment" method="post" class="form-controls">
		<input type="hidden" name="comment_id" value="{{comment_id}}">
		<input type="hidden" name="post_id" value="{{post_id}}">
		<input type="submit" class="btn btn-primary" value="delete">
	</form>
</fieldset>
{% endblock %}
