<!-- JINJA2 TEMPLATE EXTENSION -->
{% extends "base.html" %}

<!-- THIS IS NOT A DEPENDENCY OF THE MULTI-USER BLOG
This template is a part of the forms and templates portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}

<ol>
<!-- Begin Jinja2 Template Logic -->
{% for x in range(1, n+1) %}
	<li>
	{% if x % 15 == 0 %}
		FizzBuzz
	{% elif x % 3 == 0 %}
		Fizz
	{% elif x % 5 == 0 %}
		Buzz
	{% else %}
		{{ x }}
	{% endif %}
	</li>
{% endfor %}
<!-- End Jinja2 Template Logic -->

</ol>

{% endblock %}