<!-- JINJA2 CHILD TEMPLATE - NEWPOST -->
{% extends "base.html" %}

<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is a part of the problem set in the databases portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}

<form action="" method="post" id="BlogPostForm">
	<fieldset class="postForm">
		<legend>Add New Blog Post</legend>
		<span class="error">{{error}}</span>
		<p><label for="subject">Title</label>
			<input class="postSubject" type="text" name="subject" value="{{subject}}">
		<p><label for="content">Content</label>
			<textarea class="postContent" name="content">{{content}}</textarea>
	</fieldset>
	<fieldset class="accountAction">
		<input type="submit" class="btn btn-primary" name="submit" value="Submit">
		<input Type="button" class="btn btn-primary" name="cancel" value="Cancel" onClick="history.go(-1);return true;">
	</fieldset>
</form>


{% endblock %}
