<!-- JINJA2 CHILD TEMPLATE - PERMALINK -->
{% extends "base.html" %}

<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
The idea for this template is borrowed from the project files in the intro
to backend course in preparation for the multi-user blog project -->

{% block content %}

<!-- renders a single blog post from PermaPost class using render post from post class in in main.py -->
  <h3>Post</h3>
  {{post.render_post(login_id, post.key().id()) | safe}}
  <h3>Comments</h3>
  {% for comment in comments %}
    {{ comment.render_comment(login_id) | safe }}
    <br><br>
  {% endfor %}
{% endblock content%}
