
<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is borrowed from the project files in the intro
to backend course in preparation for the multi-user blog project -->

<!-- TEMPLATE PURPOSE
This template renders consists of an individual post and
is displayed in permalink.html or front.html pages and does not
extend base.html -->

{% block content %}

<div class="post">
  <div class="post-heading">
    <div class="post-title">
      Title: {{post.subject}}
    </div>
    <div class="post-author">
      Author: {{post.author_id}}
    </div>
    <div class="post-date">
      Created: {{post.created.strftime("%b %d, %Y %H:%M.%S")}}
    </div>
    {% if not post.created.strftime("%b %d, %Y %H:%M.%S") == post.modified.strftime("%b %d, %Y %H:%M.%S") %}
      <div class="modified-date">
        Modifield: {{post.modified.strftime("%b %d, %Y %H:%M.%S")}}
      </div>
    {% endif %}
  </div>
  <div class="post-content">
    {{post._render_text | safe}}
  </div>
  {% if post.author_id == login_id %}
    <form action="" method="post" id="EditPostForm">
      <fieldset class="accountAction">
        <input type="hidden" name="post_id" value="{{post.key().id()}}">
        <input type="submit" class="btn btn-default" name="submit" value="Edit Post">
      </fieldset>
    </form>
  {% endif %}
</div>
{% endblock content %}
