
<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is borrowed from the project files in the intro
to backend course in preparation for the multi-user blog project -->

<!-- TEMPLATE PURPOSE
This template renders consists of an individual post and
is displayed in permalink.html or front.html pages and does not
extend base.html -->

{% block content %}

<div class="post">
  <div class="post-heading">
    <div class="post-title">
      Title: {{post.subject}}
    </div>

    <div class="post-date">
      Created: {{post.created.strftime("%b %d, %Y")}}
    </div>
    <div class="modified-date">
      Modifield: {{post.modified.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>
</div>
{% endblock %}
