<!-- JINJA2 TEMPLATE EXTENSION -->
{% extends "base.html" %}

<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is a part of the problem set in the forms and templates portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}

<!-- TODO: Add more detailed user guidance as to what is expected for passwordsm ect -->

<form action="" method="post" id="SignUpForm">
	<fieldset class="accountInfo">
		<legend>New User Sign Up</legend>
		<p><label for="UserId">User ID</label>
			<input type="text" name="user_id" value="{{user_id}}" placeholder="Required"><span class="error">{{error_user_id}}</span>
		<p><label for="password">Password</label>
			<input type="password" name="password_1" value="" placeholder="Required"><span class="error">{{error_password_1}}</span>
		<p><label for="Password2">Re-type Password</label>
			<input type="password" name="password_2" value="" placeholder="Required"><span class="error">{{error_password_2}}</span>
		<p><label for="email">Email</label>
			<input type="email" na eme="email" value="{{email}}"><span class="error">{{error_email}}</span>
	</fieldset>
	<fieldset class="accountAction">
		<input type="submit" class="btn btn-default" name="submit" value="Sign Up">
	</fieldset>
</form>

{% endblock %}