<!-- JINJA2 TEMPLATE EXTENSION -->
{% extends "base.html" %}

<!-- THIS IS A MAJOR DEPENDENCY OF THE MULTI-USER BLOG PROJECT
This template is a part of the problem set in the forms and templates portion
of the intro to backend course in preparation for the multi-user
blog project -->

{% block content %}

<h2>Sign Up</h2>
<form method="post">
	<label>
		User ID
		<input type="text" name="UserId">
	</label>
	<label>
		Password
		<input type="password" name="Password1">
	</label>
	<label>
		Re-type Password
		<input type="password" name="Password2">
	</label>
	<label>
		Email
		<input type="email" name="email">
	</label>
	<input type="submit" class="btn-default">
</form>

{% endblock %}